/* 动画效果 */
.animate-on-scroll {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s, transform 0.8s;
}

.animate-on-scroll.animated {
    opacity: 1;
    transform: translateY(0);
}